[submodule "public/public"]
	path = public/public
	url = git@github.com:gavinfowler/gavinfowler.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:gavinfowler/gavinfowler.github.io.git
	branch = master
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
